$color-bg-primary: #c2291b;
$color-bg-secondary: #660a02;
$font-color-primary: white;
$font-color-secondary: #171415;
//font
$font-family-monospace:  Oswald sans-serif;
//border-width
$bw: 1.5em;
//create brakpoints for media queries
$breakpoint-desktop: "only screen and (min-width :1024px)";
$breakpoint-tablet: "only screen and (max-width : 768px)";
$breakpoint-phone: "only screen and (max-width : 414px)";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//   }

.hero {
    background: url('./images/diner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
   
}

.cta {
    background: #bce7be;
    height: 30vh;
    .button {
        background: #bce7be;
        border-radius: 50px;
        box-shadow:  28px 28px 57px #a0c4a2,
        -28px -28px 57px #d8ffdb;

    }

}
.card {
    display: flex;
    flex: 1 1 auto;
    margin: 10px;
    box-shadow: -1px -1px 3px 3px #575252;


    .card-img-top {
        border: black 2px solid;
        height: 250px;
        width: 250px;
        border-radius: 0%;
        margin-left: 280px ;
    }
    
    
    .card-title {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
    .card-text {
        font-family: $font-family-monospace;
        padding: 15px;
        font-size: 15px;
        text-align: center;
    }
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  
    .card-img {
        height: 100%;
        width: 200px;
        border-radius: 0%;
      
    }
    
    .card-title {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
    div {
        .row {
            padding-left: 150px;
            text-align: center;
        }
    }
    .card-text {
        font-family: $font-family-monospace;
        font-size: 15px;
        text-align: center;
    }
}

.modal-body {
    label {
        font-family: $font-family-monospace;
        font-size: 20px;
    }
     input {
         border: 2px solid black;
     }
    .get-result {
    background-color: $color-bg-secondary;
    border: none;
    height: 30px;
    width: 70px;
    font-family: $font-family-monospace;
    color: $font-color-primary;
    margin: 5px;

        &:hover {
            background-color: $color-bg-primary;
            color: $font-color-secondary;
        }
    }
}


// @media #{$breakpoint-desktop} {
//     header {
//         font-size: 20px;
//     }
//     .cta {
//         button {
//             margin-left: 100px;
//             height: 200px;
//             width: 400px;
//         }
//     }
// }

// @media #{$breakpoint-tablet} {
   
//     .cta {
//         height: 50vh;
//         padding: 10px;
//         font-size: 20px;
//         button {
//             width: 374px;
//             border-radius: 0;
//             margin: 0px;
//             padding: 0;
//         }
//         .col-6 {
//             padding: 0;
//             align-items: center;
//         }
//     }
    
//     footer {
//         position: fixed;
//         bottom: 0;
//         width: 100%;
//     }
// }

// @media #{$breakpoint-phone} {
//     header {
//         width: 100%;
//     }

//     .hero {
//         position: fixed;
//         height:40vh;
//         width: 100%;
//     }
//     .cta {
//          height: 60vh;
//          padding: 10px;
//          p {
//               font-size: 15px;
//               height: 150px;
//             }
//          button {
            
//              height: 100px;
//              width:177.5px;
//              margin:50px 60px 10px 0px;
//              font-size: 15px;
//             }
//          .col-6 {
//              padding: 0;
//              align-items: center;
//          }
//         }
        

//     .saved-meals {
//         div{
//         position: fixed;
//         bottom: 1px;
//         width: 100%;
//         }
//     }

//     footer {
//         position: fixed;
//         bottom: 0;
//         width: 100%;
//     }
//     h5 {
//         font-size: 15px;
//     }
// }