$color-bg-primary: #c2291b;
$color-bg-secondary: #660a02;
$font-color-primary: white;
$font-color-secondary: #171415;
//font
$heading:  'Abril Fatface', cursive;
$text: 'Playfair Display', serif;
//border-width
$bw: 1.5em;
//create brakpoints for media queries
$breakpoint-desktop: "only screen and (min-width :1024px)";
$breakpoint-tablet: "only screen and (max-width : 768px)";
$breakpoint-phone: "only screen and (max-width : 414px)";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.hero {
    background: url('./images/diner3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    box-shadow:  28px 28px 57px #a0c4a2;
    padding: 3%;
   
   // color: white;
    text-align: right;
    &-pitch {
        font-family: $text;
     
        h2 {
            font-family: $heading;
        }
       
        .p-wrapper {
            width: 60%;
            
        }
       
    }
  
    
}

.cta {
    background: #bce7be;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    .button {
        height: 14rem;
        width: 14rem;
        margin: 3rem;
        background: #bce7be;
        border-radius: 50px;
        box-shadow:  28px 28px 57px #a0c4a2,
        -28px -28px 57px #d8ffdb;
        border: none;
        font-family: $text;
            &:hover,
            &:active {
                box-shadow:  28px 28px 57px #6d8b6e,
                -28px -28px 57px #c4e4c7;
            }
    }

}

.card {
    max-width: 18rem;
}


.modal {
    
    &-content {
        font-family: $heading;
        background: #bce7be;
        padding: 3%;
    }
    &-body {
        box-shadow:  18px 18px 27px #a0c4a2;
        border-radius: 50px;
    }

    input {
      background: #bce7be;
      box-shadow:  10px 10px 17px #a0c4a2;
      border-radius: 50px;

      &:active,
      &:focus {
        background: #d4e6d5;
        box-shadow:  10px 10px 17px #85aa87;
      }
    }
}