@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  background: url("./images/diner4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  -webkit-box-shadow: 28px 28px 57px #a0c4a2;
          box-shadow: 28px 28px 57px #a0c4a2;
  padding: 4%;
  text-align: right;
}

.hero-pitch {
  font-family: "Abril Fatface", cursive;
  background-color: rgba(126, 119, 119, 0.438);
  color: white;
  padding: 8% 2% 8% 2%;
}

.hero-pitch h2 {
  font-size: 30pt;
}

.hero-pitch p {
  padding-left: 40%;
  margin-top: 4%;
  font-size: 20pt;
}

.cta {
  background: #bce7be;
  height: auto;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  bottom: 0;
}

.cta .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .button {
  height: 12rem;
  width: 12rem;
  margin: 3rem;
  background: #bce7be;
  border-radius: 50px;
  -webkit-box-shadow: 18px 18px 37px #a0c4a2, -18px -18px 37px #d8ffdb;
          box-shadow: 18px 18px 37px #a0c4a2, -18px -18px 37px #d8ffdb;
  border: none;
  font-family: "Playfair Display", serif;
}

.cta .button:hover, .cta .button:active {
  -webkit-box-shadow: 28px 28px 57px #6d8b6e, -28px -28px 57px #c4e4c7;
          box-shadow: 28px 28px 57px #6d8b6e, -28px -28px 57px #c4e4c7;
}

.card {
  max-width: 22rem;
  min-width: 20rem;
  border-radius: 15px;
  margin: 5%;
  padding: 2%;
  background: #bce7be;
  -webkit-box-shadow: 28px 28px 57px #a0c4a2, -28px -28px 57px #d8ffdb;
          box-shadow: 28px 28px 57px #a0c4a2, -28px -28px 57px #d8ffdb;
  border: none;
}

.card-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.card:hover, .card:active, .card:focus {
  -webkit-box-shadow: 10px 10px 17px #6e9770;
          box-shadow: 10px 10px 17px #6e9770;
}

.modal {
  text-align: center;
}

.modal-content {
  font-family: "Abril Fatface", cursive;
  background: #bce7be;
  padding: 3%;
}

.modal-body {
  -webkit-box-shadow: 18px 18px 27px #a0c4a2;
          box-shadow: 18px 18px 27px #a0c4a2;
  border-radius: 50px;
}

.modal form {
  background: #bce7be;
  padding: 5%;
}

.modal form input {
  background: #d5e6d5;
  -webkit-box-shadow: 10px 10px 17px #a0c4a2;
          box-shadow: 10px 10px 17px #a0c4a2;
  border-radius: 50px;
  width: 25%;
  border: none;
  margin: 2%;
}

.modal form input:hover, .modal form input:active, .modal form input:focus {
  -webkit-box-shadow: 10px 10px 17px #6e9770;
          box-shadow: 10px 10px 17px #6e9770;
}

.modal form button {
  background: #bce7be;
  -webkit-box-shadow: 10px 10px 17px #92c795, -10px -10px 17px #d2f3d5;
          box-shadow: 10px 10px 17px #92c795, -10px -10px 17px #d2f3d5;
  border-radius: 50px;
  padding: 0 4% 0 4%;
  margin-top: 1%;
  border: none;
}

.modal form button:hover, .modal form button:active, .modal form button:focus {
  -webkit-box-shadow: 10px 10px 17px #6e9770;
          box-shadow: 10px 10px 17px #6e9770;
}

footer {
  background: #bce7be;
  font-family: "Playfair Display", serif;
  color: #495c4a;
}

footer a {
  color: #495c4a;
  text-decoration: none;
}

footer a:hover, footer a:active, footer a:focus {
  text-shadow: 10px 10px 17px #6e9770;
}

@media (max-width: 870px) {
  .hero p {
    font-size: 18pt;
  }
}
/*# sourceMappingURL=secondarystyle.css.map */